{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block title %}
    My Own Bookcase
{% endblock %}  

{% block header %}
{% endblock %}    

{% block body %}
    <div class="w-50 mx-auto p-5">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}    
