
main {
  background-color: rgba(40, 0, 50, 0.3);
  /* padding: 10px; */
}

h1 {
  color: mediumblue;
}

h3 {
  color: rgb(83, 85, 214);
}

.air {
  padding: 20px;
}


/* 
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  background-color: white;
  display: block;
  height: 400px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}
 */


/* 
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  height: 400px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}
*/

/* 
style="background-color: rgba(40, 0, 50, 0.3);" 
*/

/* 
body {
  min-height: 2000px;
  padding-top: 70px;
}
*/
