{% extends 'base.html.twig' %}

    {% block title %}
        Formularz dodawania książki
    {% endblock %}  

    {% block header %}
        Dodaj nową książkę
    {% endblock %}        

    {% block body %}
        <div class="w-50">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    {% endblock %}
