{% extends 'base.html.twig' %}

    {% block title %}
        Szczegóły o książce
    {% endblock %}  

    {% block header %}
        Szczegóły o książce
    {% endblock %}        

    {% block body %}
        <div class="w-50">
        Szczegóły o książce
        Szczegóły o książce
        Szczegóły o książce
        </div>
    {% endblock %}
