{% extends 'base.html.twig' %}

    {% block title %}
        Info about My Own Library
    {% endblock %}  

    {% block header %}
        <div class="p-3">
            • THIS IS NOT A BOOK READER •
        </div>
    {% endblock %}        

    {% block body %}
        <div class="air" style="height:100%; background: url(img/supernova_1900x800x72_and_gradient.jpg) no-repeat center center fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;">
                <strong>My Own Library</strong> is a simple application that helps you to manage your books on your bookcases .</br>
                </br>
                <strong>Main features:</strong></br>
                • Utilizes the phone's camera to scan a barcode</br>
                • Adds/removes books from your bookcases</br>
                • Enables you to download pdf of books in public domain</br>
                • Creates a shelf that shows personalized recommendations to you</br>
                • Support for tablet devices</br>
                • Sorting by author (last name), title, series, etc.</br>
                • User-defined sort and list styles</br>
                • Search Amazon, Google Books, goodreads and LibraryThing for data</br>
                • Searching</br>
                • Thumbnails (download, gallery or camera)</br>
                • Loaning books</br>
                • Goodreads synchronization</br>
                • Export and Backup</br>
                • Bookshelves (books can be on multiple shelves)</br>
                </br>
        </div>
    {% endblock %}
