{% extends 'base.html.twig' %}
    {% block title %}
        Show bookcases
    {% endblock %}  

    {% block header %}
        <div class="p-3">
            List of my bookcases
        </div>
    {% endblock %}    

    {% block body %}
        <div class="mx-auto p-3">
            <h3>I have this bookcases:</h3>
            <ul>
                {% for bookcase in bookcases %}
                    <li>
                        <a href="/bookcase/{{ bookcase.getId }}">{{ bookcase.getName }}</a>
                    </li>
                {% else %}
                    No bookcases!
                {% endfor %}
            </ul>
        </div>
    {% endblock %}    
